<cs-page-breadcrumb [items]="[{text: 'Clientes'}]"></cs-page-breadcrumb>

  <cs-page-header page-title="Clientes"
                  button-text="+ Novo cliente"
                  button-link="new"
                  button-class="btn-success"
                  show-button="true"></cs-page-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes | async">
      <td>
        <strong>{{cliente.nome}}</strong><br>
        <small>{{cliente.observacao}}</small>
      </td>
      <td>
        <a [routerLink]="[cliente.key, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="delete(cliente.key)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
